.fm_cvD_tData{
    margin-bottom: 30px;
    &__c{
        gap:$gap_items_20;
        p{
            font-size: $fs_S;
            font-weight: $fw_bold;
            color: $color_text_gray;
        }
        h3{
            font-size: 22px;
            font-weight: $fw_regular;
            color: $color_primary;
        }
        &--red h3{
            color: $color_text_red;
        }
        &--green h3 {
            color: $color_text_green;
        }
    }
}